:root {
  --font-brand-primary: "Sour Gummy", sans-serif;
  --font-brand-secondary: "Rubik Puddles", system-ui;

  --bg-accent-1: rgba(255, 145, 0, 0.507);
  --bg-accent-2: hsl(56, 100%, 91%);

  --btn-color-primary: rgb(255, 145, 0);
  --btn-color-secondary: rgba(255, 239, 16, 0.74);

  --outline-primary: rgb(226, 129, 2);
  --outline-secondary: rgb(235, 235, 0);

  --color-text-main: rgb(20, 17, 13);
  --color-text-confrim: rgb(0, 128, 0);
  --color-text-disagree: rgb(255, 0, 0);
  --color-text-muted: rgb(129, 129, 129);

  --shadow: rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  color: #333;
  background-color: #fefefe;
}

body,
button,
input {
  font-family: var(--font-brand-primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-brand-primary);
  letter-spacing: 4px;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
  font-family: var(--font-brand-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

img {
  width: 100%;
}

main {
  flex: 1;
}

section {
  padding: 3rem 0;
  border-bottom: 2px solid var(--shadow);
}

section h2 {
  font-size: 3.5rem;
  font-family: var(--font-brand-secondary);
  color: #000;
}

.btn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
}

/* STYLING STARTS HERE */
.page-scroll-btn {
  box-shadow: 0 0 5px var(--shadow);
  background-color: #000;
  color: var(--btn-color-primary);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: fixed;
  right: 2%;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header {
  box-shadow: 0 1px 5px var(--shadow);
  height: 13vh;
  display: flex;
}

.navbar {
  width: 90%;
  margin: auto;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.navbar-links a {
  color: var(--btn-color-primary);
  font-weight: 600;
  transition: color 0.1s;
}

.navbar-links a:hover {
  color: rgb(212, 124, 9);
}

/* HERO SECTION STYLING */
.hero {
  padding: 4rem 0;
}

.hero .container {
  min-height: 65vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 80%;
  height: auto;
  display: inline-block;
  margin-bottom: 1.8rem;
}

.hero p,
.how-it-works-3 p {
  width: 60%;
  margin-bottom: 3rem;
}

.hero .button-row {
  width: 40%;
}

/* WHAT IS IT SECTION STYLING */
.what-is-it {
  background-color: var(--bg-accent-2);
}

.what-is-it .grid-container div:first-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

/* HOW IT WORKS SECTION STYLING */
.how-it-works {
  background-color: var(--bg-accent-1);
}

.how-it-works img {
  width: 90%;
}

.how-it-works .container div:nth-child(2) {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

/* HOW IT WORKS SECTION 2 STYLING */
.how-it-works-2 .grid-container div:first-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.how-it-works-2 img {
  width: 90%;
}

/* HOW IT WORKS SECTION 3 STYING */
.how-it-works-3 {
  background-color: var(--bg-accent-2);
}

.how-it-works-3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.how-it-works-3 h2 {
  width: 70%;
  margin-bottom: 1.5rem;
}

/* READY TO PLAY SECTION STYLING */
.ready-to-play {
  padding: 5rem 0;
}

.ready-to-play .grid-container div:first-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.ready-to-play .btn {
  width: 80%;
  padding: 1rem 0;
}

/* SOURCE CODE SECTION STYING */
.source-code {
  background-color: var(--bg-accent-1);
}

.source-code .container {
  min-height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.source-code h2 {
  margin-bottom: 1.5rem;
}

.source-code p {
  width: 70%;
}

/* FOOTER SECTION STYLING */
.footer {
  background-color: var(--color-text-main);
  color: #fff;
  padding: 3rem 0;
}

.footer .grid-container {
  grid-template-columns: 1fr 3fr;
}

.footer .container p {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.social-links {
  text-align: center;
  padding: 1rem 0;
}

.social-links .github-icon {
  font-size: 2rem;
  color: var(--color-text-muted);
  transition: color 0.3s;
}

.social-links .github-icon:hover {
  color: #fefefe;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 4rem;
}

.footer-links h3 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.footer-links li {
  margin-bottom: 0.4rem;
}

.footer-links a {
  color: #fefefe;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--btn-color-primary);
}

.footer hr {
  border-width: 1px;
  border-style: solid;
  width: 80%;
  margin: 2.5rem auto;
}

.footer .copyright {
  text-align: center;
  color: var(--color-text-muted);
}
