:root {
  --font-brand-primary: "Sour Gummy", sans-serif;
  --font-brand-secondary: "Work Sans", sans-serif;
  --font-brand-tetiary: "Rubik Puddles", system-ui;

  --bg-accent-1: rgba(255, 145, 0, 0.507);
  --bg-accent-2: hsl(56, 100%, 91%);

  --btn-color-primary: rgb(255, 145, 0);
  --btn-color-secondary: rgba(255, 239, 16, 0.74);

  --outline-primary: rgb(226, 129, 2);
  --outline-secondary: rgb(235, 235, 0);

  --color-text-1: rgb(20, 17, 13);

  --shadow: rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  color: #333;
  background-color: #fefefe;
}

body,
button,
input {
  font-family: var(--font-brand-primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-brand-primary);
  letter-spacing: 4px;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
  font-family: var(--font-brand-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

img {
  width: 100%;
}

main {
  flex: 1;
}

section {
  padding: 3rem 0;
}

.btn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
}

/* STYLING STARTS HERE */
.page-scroll-btn {
  box-shadow: 0 0 5px var(--shadow);
  background-color: #000;
  color: var(--btn-color-primary);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: fixed;
  right: 2%;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header {
  box-shadow: 0 1px 5px var(--shadow);
  height: 10vh;
  display: flex;
}

.navbar {
  width: 90%;
  margin: auto;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.navbar-links a {
  color: var(--btn-color-primary);
  font-weight: 600;
  transition: color 0.1s;
}

.navbar-links a:hover {
  color: rgb(212, 124, 9);
}

/* HERO SECTION STYLING */
.hero .container {
  min-height: 65vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 80%;
  height: auto;
  display: inline-block;
  margin-bottom: 1.8rem;
}

.hero p {
  width: 60%;
  margin-bottom: 3rem;
}

.hero .button-row {
  width: 40%;
}

/* WHAT IS IT SECTION STYLING */
.what-is-it {
  background-color: var(--bg-accent-2);
}

.what-is-it .grid-container div:first-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.what-is-it h2,
.how-it-works h2 {
  font-size: 3.5rem;
  font-family: var(--font-brand-tetiary);
  color: #000;
}

/* HOW IT WORKS SECTION STYLING */
.how-it-works {
  background-color: var(--bg-accent-1);
}

.how-it-works img {
  width: 90%;
}

.how-it-works .container div:nth-child(2) {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

/* SOURCE CODE SECTION STYING */
.source-code {
  text-align: center;
}
