.container {
  width: 90%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.highlight-primary {
  color: rgb(255, 239, 16);
}

.highlight-secondary {
  color: rgb(255, 145, 0);
}

.btn-primary {
  background-color: var(--btn-color-primary);
  border-style: solid;
  border-color: var(--outline-primary);
  transition: opacity 0.2s;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-outline {
  background-color: #fff;
  border-style: solid;
  border-color: var(--outline-primary);
  transition: background-color 0.2s;
}

.btn-outline:hover {
  background-color: var(--btn-color-primary);
}
